a {
    color: #2B2829; }

input {
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 13px 16px;
    width: 100%; }
input:focus {
    outline: none;
    outline-offset: 0;
    border: 1px solid #FAE29F; }

button:focus {
    outline: none;
    outline-offset: 0; }

.btn {
    padding: 16px 38px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background-color: transparent; }

.btn--primary {
    color: #fff;
    background-color: #f50634; }
.btn--primary:hover {
    background-color: #c30529; }

.btn--done {
    color: #B9B9B9;
    padding: 16px 0;
    cursor: initial; }

input {
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 13px 16px;
    color: #777;
    width: 100%; }

.h2-border {
    padding-bottom: 16px;
    border-bottom: 1px solid #DFDFDF; }

.logo {
    padding: 16px 0; }

.main {
    max-width: 737px;
    padding: 0 16px;
    margin: 0 auto; }

.mt-0 {
    margin-top: 0; }

.font-weight-bold {
    font-weight: bold; }

.fb-a {
    flex-basis: auto; }