.d-flex {
    display: -ms-flexbox;
    display: flex; }

.d-flex--middle {
    -ms-flex-align: center;
    align-items: center; }

.logo {
    padding: 16px 0; }

.nav ul {
    list-style: none; }

.main {
    width: 544px;
    margin: 0 auto; }

.tabs__header {
    display: -ms-flexbox;
    display: flex; }

.tabs__title {
    margin-right: 8px;
    padding: 8px 24px 11px;
    font-size: 12px;
    color: #B9B9B9;
    background-color: #F8F8F8; }
.tabs__title a {
    text-decoration: none;
    color: #B9B9B9; }

.tabs__title--active {
    font-weight: bold;
    background-color: #fff;
    border-top: 2px solid #F50634; }
.tabs__title--active a {
    color: #2B2829; }

.tabs__content {
    background-color: #fff;
    padding: 32px 24px; }

.tabs__search {
    margin-bottom: 48px; }

.tabs__hint {
    color: #777; }

.tabs__hint-icon {
    font-size: 4em;
    border: 3px solid;
    border-radius: 50px;
    width: 68px;
    height: 68px;
    line-height: 57px;
    text-align: center;
    margin-right: 32px;
    color: #DFDFDF; }

input {
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 13px 16px;
    width: 100%; }